@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --color1:rgb(238, 238, 238);
    --color2:rgb(50, 50, 50);
    --color3:rgb(113, 159, 176);
    --color4:rgb(4, 74, 66);


    --opacityColor:rgba(0, 0, 0, 0.64); 

    --glowStrong:0 0 10px var(--color1), 0 0 20px var(--color1), 0 0 30px var(--color1), 0 0 40px var(--color1), 0 0 50px var(--color1), 0 0 60px var(--color1), 0 0 70px var(--color1);
    
    --glowLight:0 0 .4px var(--color1),
    0 0 0.2px var(--color1),
    0 0 0.2px var(--color1),
    0 0 2px var(--color1),
    0 0 15px var(--color1);


}
*{
    transition: 1s;

    &::selection{
        background-color: var(--color1);
        color: var(--color2);
    }
   
}
body {
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.main {
    font-family: "Wittgenstein", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    .nav {
        position: fixed;
        width: 100%;
        height: 55px;
        background-color: var(--opacityColor);
        display: flex;
        justify-content: space-between;
        color: var(--color2);
        z-index: 10;
       

        ul {
            list-style: none;
            display: flex;
            width: 80%;
            justify-content: space-between;

            li {
                color: var(--color1);
                font-size: .9rem;
                letter-spacing: 4px;
                text-shadow: var(--glowLight);
                padding: 6px;
                height: 100%;
                transition: .5s;
                &:hover{
                    background-color: var(--color4);
                }
            }
        }

        .logo {
            width: 50px;
            height: 50px;
            text-align: center;
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            color: var(--color4);
            text-shadow: var(--glowStrong);
        }
    }

    .nav_mobile {
        display: none;
        position: fixed;
        width: 100%;
        height: 50px;
        justify-content: space-between;
        z-index: 10;
       
        
        color: var(--color4);
        text-shadow: var(--glowStrong);
        font-size: 1.5rem;
        background-color: var(--opacityColor);
        .navBar, .logo{
            padding: 15px;
        }

    }
    .navList{
        display: none;
        position: fixed;
        width: 100%;
        height: 0px;
        z-index: 5;
        
        color: var(--color1);
        font-size: 1.3rem;
        overflow: hidden;
        background-color: var(--opacityColor);
        transition: 1.3s;
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 40px 0 10px 0;
            gap: 10px;
            a{
                color: var(--color1);
            }
            li{
                letter-spacing: 5px;
                background-color: var(--opacityColor);
                padding: 5px;
                &:hover{
                    background-color: var(--color4);
                }
            }
            

        }
    }
    .navIcon {
        position: fixed;
        left: 15px;
        width: 3px;
        height: 45vh; 
        top: -30px;
        background-color: var(--color1); 
        display: flex;
        align-items:flex-end;
        justify-content: center;
        z-index: 3;
        cursor: pointer;

        &:hover{
            animation: glow 3s alternate infinite;
        }

        ul{
            list-style: none;
            padding: 0;

            li{
                color: var(--color1);
                font-size: 2.1rem;
                rotate: 180deg;
                position: relative;
                bottom: -50px;
            }
        }

       
    }

    .mainPage {
        width: 100%;
        height: 100vh; 
        background-image: url('img/jellyfish_2.jpg');
        background-size: cover;
        background-position: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 

        .content {
            position: relative;
            border: 3px solid var(--color1);
            width: 90%;
            height: 75%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .subTxt{
                position: absolute;
                text-align: center;
                top: -20px;
                width: fit-content;
                height: 20px;
                padding: 6px;
                background-color: var(--opacityColor);
                border: 3px solid var(--color1);
                z-index: 2;
                color: var(--color1);
                font-size: 1.1rem;
                letter-spacing: 2px;
            }

            h1{
                text-shadow: var(--glowLight);
                color: var(--color1);
                letter-spacing: 3px;
                text-align: center;
                cursor: pointer;

                &:hover{
                    animation: glow 3s alternate infinite;
                }

            }
        }
    }

    .section1{
        width: 100%;
        min-height: 100vh;
        background-color: var(--color2);

        text-align: center;
        display: flex;
        justify-content: center;

        .contentContener{
            width: 80%;
            margin: 20vh 0;

            .txt1{
                background-color: var(--color1);
                padding: 10px;
                color: var(--color2);

                font-size: 1.2rem;
                font-weight: 600;
                letter-spacing: 3px;
                border-radius: 5px;
                
            }
            .txt2{
                background-color: var(--opacityColor);
                color: var(--color1);
                padding: 10px;
                border-bottom: 2px dashed var(--color4);
                border-radius: 5px;

            }
            .txt3{
                /* background-color: var(--color3); */
                color: var(--color1);
                padding: 10px;
                border: 2px dashed var(--color1);
                border-top: none;
                text-align: left;
                line-height: 27px;


            }
        }
    }
}


/* OGÓLNE WŁAŚCIWOŚĆI: */
.activePage{
    background-color: var(--color4) !important;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

}

.wave svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 84px;
}

.wave .shape-fill {
    fill: var(--color2);
}
.line-rotated{
    rotate: 120deg;
}

a{
    color: var(--color4);
}

.btn_submit{
    width: 93px;
    height: 37px;
    margin: 10px 10px 10px auto;
    color: var(--color1);
    text-shadow: var(--glowLight);
    font-size: 1rem;

    padding: 5px;
    border: 3px dashed var(--color4);
    background-color: var(--opacityColor);
    transition: .2s;

    &:hover{
        color: var(--color4);
        background-color: var(--color1);
    }
}


/* JĘZYKI */
#language-switcher{
    position: fixed;
    width: 50px;
    height: 120px;
    z-index: 4;


    top: 100px;
    right: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .lenguage_elem{

        background-size: cover;
        background-position: center;

        width: 30px;
        height: 30px;
    
        cursor: pointer;

        transition: 0s;

    }

    .lenguage_elem:nth-child(1){
        background-image: url('img/poland.png');
    }
    .lenguage_elem:nth-child(2){
        background-image: url('img/spain.png');
    }

    .lenguage_elem:nth-child(3){
        background-image: url('img/united-kingdom.png');
    }
    
}

.unique{
    color: var(--color1);
    text-shadow: var(--glowLight);

}
.unique2{
    color: var(--color1);
    border-bottom: 2px solid var(--color3);
    margin-right: 5px;




}


/* ANIMACJE:  */
@keyframes roll {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }

}

@keyframes glow {

    100% {
        text-shadow: var(--glowStrong);
    }

}


/* RESPONSIVE:  */
@media (max-width: 948px) {
    .mainPage {
        background-position-x: 60% !important;
    }
    .nav {
        display: none !important;
    }
    .nav_mobile {
        display: flex !important;
    }
    .navList{
        display: block !important;
    }
    .navIcon{
        left: 35px !important;
    }
    .content .headline{
        font-size: 1.5rem ;
    }
    .headline:hover{
        animation: none !important;
    }

}

